.user-details-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: var(--color-background);
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-light);
    font-family: 'Roboto', sans-serif;
}

.user-details-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--color-text-dark);
}

.user-info p {
    font-size: 1.1em;
    margin-bottom: 15px;
    color: var(--color-text);
}

.user-details-container .btn-primary {
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1.1em;
    width: 50%;
    margin-left: 20%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: block;
    transition: background-color 0.3s ease;
}

.user-details-container .btn-primary:hover {
    background-color: var(--color-primary-dark);
}

.user-details-container a {
    display: block;
    text-align: center;
    color: var(--color-link);
    text-decoration: none;
    transition: color 0.2s;
}

.user-details-container a:hover {
    color: var(--color-accent);
}


