{% extends "ArtiFolio/base.html" %}

{% block titulo %}Iniciar Sesión{% endblock %}

{% block contenido %}
<div class="container-card">
    <h2>🎨 Bienvenido de nuevo</h2>
    <p>Ingresa a tu ArtiFolio</p>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-primary">Entrar</button>
    </form>
    
    <div style="margin-top: 20px;">
        <p>¿No tienes cuenta?</p>
        <a href="{% url 'register' %}" style="color: var(--color-accent); font-weight: bold;">Regístrate aquí</a>
    </div>
</div>
{% endblock %}